@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';

@import './base/normalize';
@import './base/reset';
@import './base/body';

@import './common-styles/button';
@import './common-styles/section';
@import './common-styles/container';
@import './common-styles/link';
@import './common-styles/logo';
@import './common-styles/text';
@import './common-styles/title';
@import './components-layout/about';
@import './components-layout/contacts';
@import './components-layout/customer-reviews';
@import './components-layout/footer';
@import './components-layout/gallery';
@import './components-layout/hero-header';
@import './components-layout/products';
@import './common-styles/modal';
@import './components-layout/modal-franchise';
@import './components-layout/readmore';
@import './components-layout/ingredients';
@import './components-layout/ourlocation';



