.contacts {
  background-color: var(--clr-brand);
  padding-top: 962px;
  // background-image: linear-gradient(transparent 373px, #84a178 373px);
  // padding: 20px 15px;
  @media screen and (min-width: 768px) {
    padding-top: 284px;
    // background-image: linear-gradient(transparent 340px, #84a178 340px);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 504px;
    // background-image: linear-gradient(transparent 178px, #84a178 178px);
  }
}

.container-position {
  position: relative;

}

.contacts__list {
  position: absolute;
  bottom: 132px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    bottom: 100px;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 124px;
    gap: 32px;
  }
}

.contacts__item {
  width: 100%;
  max-width: 440px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--clr-text-dark);

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--clr-text-normal);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  border: 1px solid var(--clr-undrline-effect);

  @include scr(tablet) {
    // width: calc((100% - 32px) / 3);
    width: 224px;
  }

  @include scr(desktop) {
    padding: 40px;
    width: 368px;
  }
}

.contacts__area {
  max-width: 130px;
  padding-left: 23px;
  padding-right: 22px;
  background-color: var(--clr-accent);
  border-radius: 4px;
  color: var(--clr-text-dark);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(29 / 16);
    padding-left: 13px;
    padding-right: 14px;
    border-radius: 6px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(29 / 16);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    margin-bottom: 32px;
  }
}

.contacts__city {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  color: #131313;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
    padding-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(26 / 14);
  }
}

.contacts__days {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  color: #131313;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacts__street {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  color: var(--clr-bg-normal);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  position: relative;
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacts__street:hover,
.contacts__street:focus {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.contacts__street::after {
  content: '';
  width: 100%;
  height: 0;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts__hours {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  color: #ababab;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacts__hours--margin {
  margin-bottom: 8px;
}

.contacts__link {
  color: var(--clr-text-dark);
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  display: flex;
  flex-direction: column;
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contact-line::before {
  content: '';
  width: 100%;
  height: 0;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contact-tel {
  color: #131313;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(22 / 12);
  letter-spacing: 0.04;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacts-btn-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 16px;
  }
}

.contacts-btn-list__item--locations {
  width: 196px;
  height: 42px;
  background-color: var(--clr-accent);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn-list__item--locations:hover,
.contacts-btn-list__item--locations:focus {
  background-color: var(--clr-brand-darkest);
}

.contacts-btn-list__item--locations:focus {
  color: var(--clr-text-normal);
}

.contacts-btn-list__item--locations:disabled {
  background-color: var(--clr-text-lighter);
}

.contacts-btn-list__item--franchise {
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;

  width: 196px;
  height: 42px;
  background: var(--clr-brand);
  border-radius: 10px;
  border: 2px solid var(--clr-accent);
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn-list__item--franchise:hover,
.contacts-btn-list__item--franchise:focus {
  border: 2px solid var(--clr-brand-darkest);
}

.contacts-btn-list__item--franchise:focus {
  color: var(--clr-text-normal);
}

.contacts-btn-list__item--franchise:disabled {
  border: 2px solid var(--clr-text-lighter);
}

.contacts__btn-icon {
  display: block;
  margin-left: 7px;
  fill: currentColor;
}
