.customer-reviews {
    position: relative;
    padding-top: 181px;
    padding-bottom: 393px;
    margin-left: auto;
    margin-right: auto;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url('/src/images/gallery/mobile/bgrice1-mob@1x.jpg');
    @include retina {
      background-image: url('/src/images/gallery/mobile/bgrice1-mob@2x.jpg');}

  @include scr(tablet) {
    padding-top: 218px;
    padding-bottom: 384px;
    background-image: url('/src/images/gallery/tablet/mainbgr-tab@1x.jpg');
    @include retina {
      background-image: url('/src/images/gallery/tablet/mainbgr-tab@2x.jpg');
    }
  }

  @include scr(desktop) {
    padding-top: 451px;
    padding-bottom: 196px;
    background-image: url('/src/images/gallery/desktop/mainbgr-desk@1x.jpg');
    @include retina {
      background-image: url('/src/images/gallery/desktop/mainbgr-desk@2x.jpg');
    }
  }

@media screen and (min-width: 1900px) {
  background-image: url('/src/images/gallery/big-desctop/bgrice-1900desk@1x.jpg');
  @include retina {
    background-image: url('/src/images/gallery/big-desctop/bgrice-1900desk@2x.jpg');
  }
}
}



.customer-reviews__image {
  min-width: 85px;
  height: 85px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.customer-reviews__text {
  margin: 0 auto;
  min-width: 280px;
  background-color: #84A178;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  padding: 35px 39px;

  @include scr(tablet) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
    padding: 28px 80px;
  }
@include scr(desktop) {
    padding: 42px 74px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}



.customer-reviews__name {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;
  color: var(--clr-text-dark);
  
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}


.swiper-pagination-bullet {
  background-color: #84A178;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet:hover {
 cursor: url('/src/images/icon.svg/cursor.svg'), auto;
}

.swiper-pagination {
position: static;
}