.gallery-section {
 position: relative;
    }
    
    .gallery-wrapper {
      position: absolute;
      width: 279px;
        height: 130px; 
        top: 24px;
        left: 50%;
        transform: translate(-50%, -50%);
      @include scr(tablet) {
        
        width: 704px;
        height: 327px; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include scr(desktop) {
        width: 1013px;
       height: 422px; 
       top: 94px;
        left: 50%;
        transform: translate(-50%, -50%);
       }
    }

    .gallery-wrapper_image {
      @include scr(tablet) {
        width: 100%;
        height: 100%;     
      }
  }





