@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

.first__screen {
    background-color: var(--clr-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1600px;
}

.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    &__logo {
        position: absolute;
        top: 12px;
        left: 20px;

        @media screen and (min-width: 768px) {
            top: 20px;
            left: 32px;
        }

        @media screen and (min-width: 1200px) {
            top: 8px;
            left: 16px;
        }
    }

    &__open {
        background-color: transparent;
        border: none;
        margin: 0;
        padding-top: 26px;
        padding-right: 11px;
        margin-left: auto;
        @media screen and (min-width: 768px) {
            padding-top: 39px;
            padding-right: 0;
        }
    }

    &__list {
        display: none;

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            gap: 27px;
            margin-top: 40px;
            margin-left: 269px;
            margin-bottom: 14px;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;

        color: var(--clr-text-normal);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:active {
            color: var(--clr-accent);
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 32px;
            margin-top: 24px;
            margin-right: 17px;
            padding: 12px 34px;
            border-radius: 10px;
            border: none;
            background: var(--clr-accent);
            color: var(--clr-text-dark);
            transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            > svg {
                margin-left: 8px;
                stroke: aliceblue;
            }

            &:hover,
            &:focus {
                background: var(--clr-brand-darkest);
            }
        }

        @media screen and (min-width: 1200px) {
            margin-left: auto;
            margin-top: 28px;
            margin-right: 1px;
        }
    }
}

// MOBILE

.menu-open {
    background-color: transparent;
    border: none;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.mob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-brand);
    z-index: 1;

    &__logo {
        width: 40.47px;
        height: 37px;

        position: absolute;
        top: 12px;
        left: 32px;
    }

    &__close {
        position: absolute;
        top: 22.4px;
        right: 26.4px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        text-decoration: none;
        padding: 0;
        color: var(--clr-text-normal);
    }

    &__container {
        padding-top: 100px;
        padding-bottom: 63px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        overflow: auto;

        @media screen and (min-width: 768px) {
            padding-top: 140px;
            padding-bottom: auto;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }

    &__link {
        font-size: 32px;
        line-height: 39px;
        font-weight: 700;
        color: var(--clr-text-normal);
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
            color: var(--clr-text-dark);
        }
    }

    &__button {
        width: 152px;
        height: 42px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 12px 34px;
        margin-top: auto;
        background-color: var(--clr-accent);
        color: var(--clr-text-dark);
        border-radius: 10px;
        border: none;
        width: 152px;
        transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: var(--clr-brand-darkest);
        }

        > svg {
            padding: 0 auto;
            margin-left: 7px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.hero {
    background-image: url("../images/hero/Frame 27.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &__title {
        width: 247px;
        margin-top: 110px;
        margin-bottom: 32px;
        font-family: "Seymour One";
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--clr-text-normal);
    }

    &__wrap {
        display: flex;
        justify-content: baseline;
    }

    &__btn1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: var(--clr-text-dark);
        border: 2px solid var(--clr-accent);
        border-radius: 8px;
        width: 62px;
        height: 24px;
        margin-right: 8px;
    }

    &__btn2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
        border: none;
        background-color: transparent;

        color: var(--clr-accent);
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        z-index: 10;
        position: absolute;
    }
}
