.products {
  background-image: url(../images/products/products_bg_mob_1@1x.jpg),
    url(../images/products/products_bg_mob_2@1x.jpg),
    url(../images/products/products_bg_mob_3@1x.jpg);
  background-size: 321px 745px;
  background-size: 100%, 100%, 100%, contain;
  background-position: top center, center, bottom center;
  background-repeat: no-repeat;

  padding: 60px 0;

  @include scr($type: tablet) {
    background-image: url(../images/products/products_bg_tab@1x.jpg);
    background-size: 100%;
    background-position: center;
  }

  @include scr($type: desktop) {
    background-image: url(../images/products/products_bg_desk@1x.jpg);
  }
}

.products__titles {
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 148px;
  color: var(--clr-text-dark);

  @include scr($type: tablet) {
    font-size: 22px;
    margin-bottom: 200px;
  }

  @include scr($type: desktop) {
    font-size: 30px;
    margin-bottom: 303px;
  }
}

.products__title-second {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;

  @include scr($type: tablet) {
    font-size: 34px;
  }

  @include scr($type: desktop) {
    font-size: 36px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__item {
  position: relative;
  padding: 123px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  background: var(--clr-brand-lighter);
  border-radius: 24px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 280px;
  &:not(:last-child) {
    @include scr($type: mobile-only) {
      margin-bottom: 164px;
    }
  }

  &:nth-child(2) {
    background: #efd478;
  }

  &:nth-child(3) {
    background: #d6936d;
  }

  @include scr($type: mobile) {
    // width: 280px;
  }

  @include scr($type: tablet) {
    // width: calc((100% - 58px) / 3);
    width: 224px;
    padding-top: 106px;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include scr($type: desktop) {
    width: 370px;
    padding: 165px 62px 60px 60px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
}

.products__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--clr-text-dark);
}

.products__info {
  margin-top: 40px;
  margin-bottom: 117px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--clr-text-dark);

  @include scr($type: tablet) {
    margin-bottom: 83px;
  }

  @include scr($type: desktop) {
    margin-top: 65px;
    margin-bottom: 66px;
  }
}

.products__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.76;
  text-align: center;
  color: var(--clr-text-dark);
}

.products_images {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  transform: translate(-50%, -60%);
  left: 50%;

  @include scr($type: desktop) {
    width: 303px;
    height: 303px;
  }
}

.products__ellipse {
  width: 200px;
  height: 199px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  transform: translate(-50%, -55%);
  left: 50%;

  @include scr($type: desktop) {
    width: 303px;
    height: 303px;
  }
}

.products__button {
  display: block;
  margin-top: auto;
  border: none;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;

  &:hover {
    transform: scaleX(1.1);
  }

  &:focus {
    transform: scale(1.3, 1.3);
  }
}
