.read-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  overflow-y:scroll;
   }

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

.read-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  background-color:var( --clr-text-normal);
 
  max-width: 280px;
  height: auto;
  padding: 28px 30px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
  @media screen and (min-width: 768px) {
    padding: 28px 60px;
    max-width: 568px;
  }
}

.read-backdrop.is-hidden .read-modal {
  transform: translate(-80%, -80%);
  opacity: 0;
}

.read-title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16);
  text-align: center;

  color: #131313;
  

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}
.read-close-button {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
    .read-close-button:hover,
    .read-close-button:focus,
    .read-close-button:active {
    fill: #F8D24E;
  }
  
 
.read-video {
  position: relative;
  padding-bottom: 56%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.read-video iframe {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.read-about-text {
  color: var(--clr-text-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}