:root {
    //brand colors 
--clr-brand: #84A178; //brand color of the project; 
--clr-brand-lighter: #AEC6A5; // a bit darker version of brand color 
--clr-brand-light: #9CBE8F;
--clr-brand-darker: #84A278; 
--clr-brand-darkest: #0A8817;//the darkest version of brand color

//accent colors
--clr-accent: #F8D24E; // accent color, is used for section headings and hover, focus effects

//background colors
--clr-bg-normal: #D6936D; // most common background color
--clr-bg-lighter: #fafafa; // lighter version of background
--clr-bg-the-lightest: #ffffff; // the lightest version of background

--clr-bg-bright-01: #f0d1a5; // color for bright background in PRODUCT section and OUR LOCATION version 01
--clr-bg-bright-02: #D5753F; //color for bright background in PRODUCT section and OUR LOCATION version 02

//decoration colors
--clr-undrline-effect: #E1E1E1; //is used for underlined effect in OUR LOCATION

//text
--main-font: 'Montserrat', sans-serif;
--second-font:'Seymour One', sans-serif; 
--third-font:'Inter', sans-serif;
--clr-text-normal: #FCFCFC; // most common text color
--clr-text-darkest: #000; // color to darken a text
--clr-text-dark: #131313; 
--clr-text-light: #7A7A7A; // color to light a text
--clr-text-lighter: #ABABAB; // color to lighter a text
}


  
  
