.button {
    width: 114px;
    height: 42px;
    background: var(--clr-accent);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-text-dark);
  }

  .button-buy {
    @extend .button;
    width: 152px;
    color: var(--clr-text-darkest);
    line-height: calc(17 / 14);
  }

  .button-read{
    @extend .button-buy;
    width: 164px;
    line-height: calc(18 / 14);
  }