<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__area">CAFE</p>
        <div class="contacts__address">
          <p>Chicago</p>
          <p class="contacts__street">
            10340 Ridgeland Ave, Chicago&nbsp;Ridge, IL 60415, USA
          </p>
        </div>
        <div class="contacts__work-hours">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__area">FOODTRUCK</p>
        <div class="contacts__address">
          <p>Los Angeles</p>
          <p class="contacts__street">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </div>
        <div class="contacts__work-hours">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__area">CAFE</p>
        <div class="contacts__address">
          <p>New York</p>
          <p class="contacts__street">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </p>
        </div>
        <div class="contacts__work-hours">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">
            06:00 AM - 10:00 PM
          </p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__contact">
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <button class="contacts__button" type="button">Our Locations</button>
    <button class="contacts__button contacts__button--reversed" type="button">
      Franchise
    </button>
  </div>
</section>
