<div class="gallery-wrap">
    <section class="section gallery">
      <h2 class="visually-hidden">Gallery</h2>
      <div class="container">
        <picture>
          <source srcset="/src/images/gallery/manyice-1200.jpg 1x, /src/images/gallery/manyive-1200@2x.jpg 2x"
            media="(min-width: 1200px)" />
          <source srcset="/src/images/gallery/ice2-768.jpg 1x, /src/images/gallery/ice2-768@2x.jpg 2x"
            media="(min-width: 768px)" />
          <source srcset="/src/images/gallery/ice_creams_480.jpg 1x, /src/images/gallery/ice_creams_480_2x.jpg 2x"
            media="(max-width: 767px)" />
          <img class="gallery__image" src="/src/images/gallery/ice3-480.jpg" alt="ice_creams" />
        </picture>
      </div>
    </section>
    <section class="section customer-reviews">
      <h2 class="visually-hidden">customer-reviews</h2>
      <div class="container">
        <picture>
          <source srcset="/src/images/customer-reviews/girl2.jpg 1x, /src/images/customer-reviews/girl@2x.jpg 2x" />
          <img class="customer-reviews__image" src="/src/images/customer-reviews/girl.jpg" alt="girl" />
        </picture>
        <div class="customer-reviews__reviews">
          <p class="review">I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        </div>
        <p class="customer-reviews__customer">Emily, Los Angeles</p>
        <ul class="customer-reviews__list">
          <li class="customer-reviews__item"><a href="/" class="customer-reviews__link"></a></li>
          <li class="customer-reviews__item"><a href="/" class="customer-reviews__link"></a></li>
          <li class="customer-reviews__item"><a href="/" class="customer-reviews__link"></a></li>
        </ul>
      </div>
    </section>
  </div>