<section class="section customer-reviews">
  <h2 class="visually-hidden">customer-reviews</h2>
<div class="container">

  <div class="swiper review-wrapper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
              <source srcset="/src/images/customer-reviews/girl2.jpg 1x, /src/images/customer-reviews/girl@2x.jpg 2x" />
              <img class="customer-reviews__image" src="/src/images/customer-reviews/girl.jpg" alt="girl" />
            </picture>
            <div class="customer-reviews__reviews">
              <p class="review">I love visiting your cafe.
                You prepare the most delicious ice cream in Los Angeles!
                In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <p class="customer-reviews__customer">Emily, Los Angeles</p>
        </li>

        <li class="swiper-slide">
          <picture>
              <source srcset="/src/images/customer-reviews/man.jpg 1x, /src/images/customer-reviews/man_2x.jpg 2x" />
              <img class="customer-reviews__image" src="/src/images/customer-reviews/man.jpg" alt="man" />
            </picture>
            <div class="customer-reviews__reviews">
              <p class="review">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
            </div>
            <p class="customer-reviews__customer">Sam, Los Angeles</p>
        </li>

        <li class="swiper-slide">
          <picture>
              <source srcset="/src/images/customer-reviews/girl.jpg 1x, /src/images/customer-reviews/girl_2x.jpg 2x" />
              <img class="customer-reviews__image" src="/src/images/customer-reviews/girl.jpg" alt="girl" />
            </picture>
            <div class="customer-reviews__reviews">
              <p class="review">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
            </div>
            <p class="customer-reviews__customer">Diana, Chicago</p>
        </li>


      </ul>
      <div class="swiper-pagination"></div>
    </div>

</div>
</section>