<footer class="footer">
  <div class="container">
    <div class="footer__text">
      <p>homemade ice cream made</p>
      <span class="footer__title">with passion</span>
    </div>

    <div class="footer__soc-icons">
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/" class="social__link">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icon.svg/symbol-defs.svg#icon-git"></use>
            </svg>
          </a>
        </li>
        <li class="social__item" >
          <a href="https://telegram.org/" class="social__link">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icon.svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="https://m.facebook.com/" class="social__link">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/icon.svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer__contact">
        <p class="footer__contact--text">Feel free to contact</p>
        <a class="footer__link--tel" href="tel:+610383766284"
          >+61(0) 383 766 284</a>
      </div>
    
    </div>

  </div>

  <div class="footer__copyright">
    <p>© 2022 - IceCream.</p>
    <p class="footer__copyrighting">All Rights Reserved.</p>
  </div>
  </div>

  
</footer>
