<footer class="footer">
    <div class="container">
      <div class="footer__text">
        <p>homemade ice cream made</p>
        <strong>with passion</strong>
      </div>
      <div>
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com/" class="social__link">
              <svg class="social__icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://telegram.org/" class="social__link">
              <svg class="social__icon">
                <use href="https://telegram.org/"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://m.facebook.com/" class="social__link">
              <svg class="social__icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p>Feel free to contact</p>
        <a class="footer__link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
      </div>
      <div class="footer__copyright">
        <p>© 2022 - IceCream.</p>
        <p>All Rights Reserved.</p>
      </div>
    </div>
  </footer>