<section class="gallery section">
  <h2 class="visually-hidden">Gallery</h2>

  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            srcset="
              ./images/gallery/desktop/gallerydescx1-min.jpg 1x,
              ./images/gallery/desktop/gallerydescx2-min.jpg 2x
            "
            src="./images/gallery/desktop/gallerydescx1-min.jpg"
            alt="IceCream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ./images/gallery/desktop/gallery2x1.jpg 1x,
              ./images/gallery/desktop/gallery2x2.jpg 2x
            "
            src="./images/gallery/desktop/gallery2x1.jpg"
            alt="IceCream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ./images/gallery/desktop/gallery3x1.jpg 1x,
              ./images/gallery/desktop/gallery3x2.jpg 2x
            "
            src="./images/gallery/desktop/gallery3x1.jpg"
            alt="IceCream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </li>
      </ul>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  
</div>
</section>
