<div class="backdrop is-hidden" data-franchise="">
  <div class="modal modal-franchise">
    <button type="button" class="modal__close" data-franchise-close="">
      <svg width="16px" height="16px">
        <use href="./images/icon.svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__header modal__header-franchise">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="modal__desc modal__desc-franchise">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="modal__form">
      <input class="modal__input" type="text" placeholder="Name" />
      <input class="modal__input" type="tel" placeholder="Phone" />
      <input class="modal__input" type="email" placeholder="Email" />
      <textarea
        class="modal__input modal__input-comment"
        placeholder="Comment"
      ></textarea>
      <button class="button modal__submit" type="submit">Submit</button>
    </form>
  </div>
</div>
