<div class="location-backdrop is-hidden" data-modal-location>
  <div class="location-modal">
    <button class="location-close" type="button" data-modal-close-location>
      <svg class="location-close-icon">
        <use href="./images/icon.svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <p class="location-title">Our Locations</p>
    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55860730304!2d34.487198339516404!3d49.602134576797894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1669459187818!5m2!1sru!2sua"
        width=""
        height=""
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
    <button type="button" class="button location-button">Open map</button>
  </div>
</div>