<section class="products">
  <div class="container">
    <div class="products__titles">
      <p class="products__title-first">100% natural</p>
      <p class="products__title-second">products</p>
    </div>
    <div class="products__items">
      <ul class="products__list">
        <li class="products__item">
          <div class="products__ellipse"></div>
          <picture>
            <source
              media="(max-width: 201px)"
              srcset="./images/products/products-1_sm@1x.png"
            />
            <!-- default -->
            <img
              class="products_images"
              alt="ice cream"
              src="./images/products/products-1_sm@1x.png"
              width="201"
              height="211"
              loading="lazy"
            />
          </picture>

          <p class="products__name">ice cream</p>
          <p class="products__info">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products__button" data-modal-open-ingredients>
            <svg class="products__icon" width="40" height="20">
              <use href="./images/icon.svg/symbol-defs.svg#icon-Arrow"></use>
            </svg>
          </button>
        </li>
        <li class="products__item">
          <div class="products__ellipse"></div>
          <picture>
            <source
              media="(max-width: 201px)"
              srcset="./images/products/products-2_sm@1x.png"
            />
            <!-- default -->
            <img
              class="products_images"
              alt="ice cream"
              src="./images/products/products-2_sm@1x.png"
              width="201"
              height="211"
              loading="lazy"
            />
          </picture>
          <p class="products__name">ice coffee</p>
          <p class="products__info">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products__button" data-modal-open-ingredients>
            <svg class="products__icon" width="40" height="20">
              <use href="./images/icon.svg/symbol-defs.svg#icon-Arrow"></use>
            </svg>
          </button>
        </li>
        <li class="products__item">
          <div class="products__ellipse"></div>
          <picture>
            <source
              media="(max-width: 201px)"
              srcset="./images/products/products-3_sm@1x.png"
            />
            <!-- default -->
            <img
              class="products_images"
              alt="ice cream"
              src="./images/products/products-3_sm@1x.png"
              width="201"
              height="211"
              loading="lazy"
            />
          </picture>
          <p class="products__name">milkshakes</p>
          <p class="products__info">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products__button" data-modal-open-ingredients>
            <svg class="products__icon" width="40" height="20">
              <use href="./images/icon.svg/symbol-defs.svg#icon-Arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
